* {
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;

  transition-duration: 0.3s;
}

.infoPlayer {
  list-style-type: none;
  color: #2a2a2a;
}
.player-name {
  text-transform: uppercase;
  margin-top: 3vw;
  margin-bottom: 2vw;
}
.player-scoure {
  color: #f16775 !important;
  font-weight: 600;
  font-size: 8vw;
  margin-bottom: 2vw;
}
.player-sign {
  color: #373e98 !important;
  font-weight: 800;
  font-size: 10vw;
}

body {
  background-color: #373e98;
}

.player {
  position: absolute;
  font-size: 4vw;

  list-style-type: none;
  /* border: 2px solid grey; */
  top: 5vw;
  height: 40vw;
  width: 25vw;
  border-radius: 30px;
  background-color: #ceb92c;
  opacity: 0.8;
}

.player1 {
  left: 4vw !important;
}
.player2 {
  right: 4vw;
}

.winner {
  color: #f16775;
  font-size: 5vw;
}

.active-player {
  background-color: #fee36e;
  height: 42vw;
  width: 27vw;
  border-radius: 30px;
  box-shadow: 5px -10px 20px 0px gray;
  opacity: 1;
}

.board {
  margin-top: 5%;
  display: inline-block;
  height: auto;
  width: 35vw;
}

.cube {
  border-radius: 10%;
  border: 1px solid #f16775;
  height: 10vw;
  width: 10vw;
  color: #373e98 !important;
  font-weight: 800;
  font-size: 3vw;
}
.cube span {
  opacity: 0;
  font-size: 1px;
  margin: 5px;
}

.round-number {
  color: #f16775 !important;
  font-weight: 600;
  font-size: 4vw;
  margin-bottom: 2vw;
}

.hidden {
  display: none;
}
.btn {
  position: absolute;
  margin-top: -25vw;
  left: 22vw;
  padding: 1vw 2vw;
  border-radius: 15px;
  color: #f16775;
  font-size: 12vw;
  background-color: #373e98;
  border: solid 1px #373e98;
  box-shadow: 0px 0px 50px -3px #2a2a2a;
  rotate: 20deg;
  animation-name: example;
  animation-duration: 2s;
}

@keyframes example {
  0% {
    scale: 4;
  }
  10% {
    scale: 2;
  }
  20% {
    scale: 0.8;
  }
  30% {
    scale: 1;
  }
  40% {
    rotate: 20deg;
  }
  50% {
    rotate: 12deg;
  }
  60% {
    rotate: 22deg;
  }
  70% {
    rotate: 16deg;
  }
  80% {
    rotate: 21deg;
  }
  90% {
    rotate: 15deg;
  }
  100% {
    rotate: 20deg;
  }
}
